In [14]:
import os
data_location = os.path.normpath("F:\DOME_Data\itamcojson2012.json")
data_location

'F:\\DOME_Data\\itamcojson2012.json'

In [12]:
import pandas

In [15]:
dataframe = pandas.read_json(data_location)

MemoryError:

In [16]:
import os
data_location = os.path.normpath("C:\Users\Smitha\Documents\GitHub\dmc-hackathon\loadtest.json")
data_location

'C:\\Users\\Smitha\\Documents\\GitHub\\dmc-hackathon\\loadtest.json'

In [17]:
dataframe = pandas.read_json(data_location)

In [18]:
dataframe

,_id,alarm_code,alarm_condition,alarm_name,alarm_nativeCode,alarm_severity,alarm_type,begin_dt_tm,category,component,dataitemid,department,instance_id,machine_id,mt_name,mt_value,sequence,subtype,type,virtual_flag
0,{u'$oid': u'50de3a5a638dadd7cf6c7723'},NaN,NaN,NaN,NaN,NaN,NaN,1356741206,Utilization,Controller,NaN,"[31, 57, 38]",1356099188,72,NaN,UNAVAILABLE,6862,None,Execution,N
1,{u'$oid': u'50de3a5a638dadd7cf6c7729'},NaN,Alarm,UNAVAILABLE,NaN,NaN,d23,1356741206,Alarm,Device,d23,"[31, 57, 38]",NaN,72,NaN,UNAVAILABLE,6861,alarm,UNAVAILABLE,N

In [23]:
dataframe.index

Int64Index([0, 1], dtype='int64')

In [24]:
dataframe._id

0    {u'$oid': u'50de3a5a638dadd7cf6c7723'}
1    {u'$oid': u'50de3a5a638dadd7cf6c7729'}
Name: _id, dtype: object

In [25]:
dataframe[:1]

,_id,alarm_code,alarm_condition,alarm_name,alarm_nativeCode,alarm_severity,alarm_type,begin_dt_tm,category,component,dataitemid,department,instance_id,machine_id,mt_name,mt_value,sequence,subtype,type,virtual_flag
0,{u'$oid': u'50de3a5a638dadd7cf6c7723'},NaN,NaN,NaN,NaN,NaN,NaN,1356741206,Utilization,Controller,NaN,"[31, 57, 38]",1356099188,72,NaN,UNAVAILABLE,6862,None,Execution,N

In [30]:
df = dataframe.loc[dataframe.category=="Utilization"]

In [31]:
df

,_id,alarm_code,alarm_condition,alarm_name,alarm_nativeCode,alarm_severity,alarm_type,begin_dt_tm,category,component,dataitemid,department,instance_id,machine_id,mt_name,mt_value,sequence,subtype,type,virtual_flag
0,{u'$oid': u'50de3a5a638dadd7cf6c7723'},NaN,NaN,NaN,NaN,NaN,NaN,1356741206,Utilization,Controller,NaN,"[31, 57, 38]",1356099188,72,NaN,UNAVAILABLE,6862,None,Execution,N